%adBg {
	display: inline-block;
	margin: 0.5rem 0;
	background: rgba(#000, 0.1);
}

.ad {
	display: block;
	text-align: center;
	line-height: 0;

	&__300x250 {
		@extend %adBg;
		width: 300px;
		height: 250px;
	}

	&__160x600 {
		@extend %adBg;
		width: 160px;
		height: 600px;
	}

	&__728x90 {
		@extend %adBg;
		width: 728px;
		height: 90px;
	}

	&--fixed {
		//temp
		position: absolute;
		left: 1rem;
		top: 29rem;
	}
}