$baseline: 16px;
$base-font-size: 16;

$color-map: (
  white:      #FEFEFE,
  black:      #1e2027,
  text:       #3a3a3a,
  blue:       #69B6D6,
  dark-blue:  #275D74,
  gold:       #DEBE3A,
  gray:       #8a8a8a
);


$breakpoints: (
  xl: 1200px,
  l:  992px,
  m:  768px,
  s:  640px 
);