.m-footer {
	position: relative;
	margin-top: 0rem;
  margin-bottom: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;

	background: color(blue);
  background: linear-gradient(to bottom, color(dark-blue) 25%, color(dark-blue) 200%);
  background: rgba(color(light-blue), 0.5);

  /* &:before,  */&:after {
  	display: block;
  	content: "";
  	position: absolute;
	  left: 0;
    right: 0;
    height: 0.4rem;

    background: lighten(color(dark-blue), 4);
    background: rgba(color(light-blue), 1);
  }

  &:before {
  	top: 0;
  }

  &:after {
  	top: 100%;
  }
  
  .o-container {
    position: relative;
    //top: -10rem; 

    & > *:last-child {
      //margin-bottom: -9rem;
    }
  }
}