.m-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background: rgba(#111, 0.8);

	visibility: hidden;
	opacity: 0;
	transition: 0.3s;

	&.is-visible {
		visibility: visible;
		opacity: 1;
	}

	&__container {
		width: 80vw;
		height: 80vh;
		margin: 10vh auto;
		//transform: translate(0, -4vh);
		transition: 0.2s ease-out;

		text-align: center;

		.is-visible & {
			transform: translate(0, 0);
		}

		&>* {
			color: color(white);
		}
	}

	&__close {
		float: right;
		color: color(white);
		font-size: 18px;
		font-family: $helvetica;
	}


}