.m-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(#fff, 0.85);

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    
    width: 90%;
    padding-top: 4rem;
    
    transition: 0.2s ease-out;

    text-align: center;

    .is-visible & {
      transform: translate(-50%, -50%);
    }
    
    @media screen and (max-width: break(m)) {
      width: 95%;
    }
  }
  
  &__title {
    color: color(dark-blue);
    @media screen and (max-width: break(m)) {
      font-size: 26px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 10vw;

    display: inline-block;
    height: 2rem;
    width: 2rem;   

    &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0%;
      top: 48%;

      height: 6px;
      width: 100%;
      background: color(dark-blue);
      border-radius: 1px;
      transition: 0.15s;
    }

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before, &:after {
        background: color(blue);
      } 
    }
  }

  &__list {
    margin: 2rem 0 1rem;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 0.5rem;
        margin: 1rem;

        text-decoration: none;

        &:hover, &:active, &:focus {
          h6 {
            color: color(blue);
          }
          .m-modal__icon {
            background: color(blue);
          }
        }

        @media screen and (max-width: break(m)) {
          margin: 0.4rem;
        }
      }

      h6 {
        padding: 0;
        margin: 0;
        color: color(dark-blue);
        font-weight: 600;
        font-size: 20px;
        transition: 0.15s;

        @media screen and (max-width: break(m)) {
          font-size: 14px;
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    padding: 0.75rem 1rem;
    background: color(dark-blue);
    transition: 0.15s;

    img {
      display: block;
      width: 64px;

      @media screen and (max-width: break(l)) {
        width: 52px;
      }

      @media screen and (max-width: break(m)) {
        width: 32px;
      }
    }
  }

  &__fieldset {
    border: none;
  }

  &__input {
    outline: none;
    -webkit-appearance: none;
    border: none;
    
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    padding: 1rem 1.6rem;

    background: color(dark-blue);
    
    color: color(white);
    line-height: 1.5rem;
    font-size: 16px;
  }

  *::-webkit-input-placeholder { color: color(white); }
  *:-moz-placeholder { color: color(white); }
  *::-moz-placeholder { color: color(white); }
  *:-ms-input-placeholder { color: color(white); }

  &__button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 1rem 1.6rem;
    width: 8rem;
    line-height: 1.5rem;

    background: lighten(color(dark-blue), 4);
    
    color: color(white);
    text-decoration: none;
    font-family: $helvetica;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;

    transition: 0.15s;

    &:hover, &:active, &:focus {
      background: lighten(color(blue), 0); 
      color: color(white); 
    }
  }

  &__copied {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 1.6rem;
    line-height: 1.5rem;
    background: lighten(color(dark-blue), 4);

    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    &.is-visible {
      visibility: visible;
      opacity: 1;
    }
  }
}