.o-container {
  width: 88%;
  max-width: 900px;
  margin: 0 auto;
}

.o-button {
  display: inline-block;
  padding: 0.2rem 1.5rem;
  margin-right: 0.2rem;

  background: color(dark-blue);
  border-radius: 2px;
  color: color(white);

  font-size: 14px;
  text-decoration: none;
  font-family: $helvetica;
  font-weight: 600;

  transition: 0.1s;

  &:hover , &:active, &:focus {
    background: lighten(color(gold), 0);
  }

  &--full {
    display: block;
    text-align: center;
  }
}

.o-title {              // Headings
  margin-bottom: 1rem;
  font-weight: 600;

  &__alternate {
    font-weight: 500;
    color: color(gray);

    .o-title--light & {
      color: rgba(color(white), 1);
    }
  }

  a {
    font-weight: 600;
    transition: 0.1s;
    color: darken(color(dark-blue), 12);

    &:hover, &:active, &:focus {
      color: color(gold);
    } 
  }

  &--light {
    color: color(white);

    a {
      color: color(white);

      &:hover, &:active, &:focus {
        color: darken(color(dark-blue), 12);
      }
    }
  }
}