.m-page {
  position: relative;
  display: table;

  &__content {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 1rem;
    
    @media screen and (max-width: break(m)) {
      padding-right: 0;
   }
  }

  &__sidebar {
    min-width: 300px;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 2rem;

    & > * {
      margin-bottom: 1rem;
    }
  }
}