.m-page {
  position: relative;
  display: table;

  &__content {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 14rem;
  }

  &__sidebar {
    min-width: 300px;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 8rem;

    & > * {
      margin-bottom: 1rem;
    }
  }
}