.m-post-list {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  
  &__basic, &__full, &__third {
    display: block;
    margin-bottom: 1.5rem;
    position: relative;
    font-size: 14px;

    @include clearfix;
    
    a {
      text-decoration: none;

      &:hover, &:active, &:focus {
        .m-post-list__title, .m-post-list__author {
          color: color(blue);
        }
      }
    }
  }

  &__third {
    display: inline-block;
    width: 30%;
    margin-left: 4.99%;
    margin-right: -4px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__image {
    float: left;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    background-position: center;
    background-size: cover;

    .m-post-list__full & {
      float: none;
      width: 100%;
      height: 6rem;
      margin-bottom: 0.5rem;
    }

    .m-post-list__third & {
      float: none;
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }

  &__author {
    padding-top: 0.25rem;
    margin: 0;

    font-size: 13px;
    font-family: $georgia;
    font-weight: 400;
    color: color(gray);
    transition: 0.1s;

    .m-post-list__third & {
      display: none;
    }
  }

  &__title {
    padding-top: 0;
    margin-bottom: 0.25rem;
    font-size: 15px;
    height: 3rem;

    overflow: hidden;
    //text-overflow: ellipsis;

    transition: 0.1s;

    .m-post-list__full & {
      overflow: auto;
      height: auto;
      margin-bottom: 0.25rem;
    }

    .m-post-list__third & {
      overflow: auto;
      height: auto;
    }
  } 
}