@import "normalize";

/* Base Styles */
@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";

/* Objects */

.o-container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

/* Components */

/* Theming */

/* Utility */


/*  */
html {
  background-color: color(white);
}






