{% extends "layouts/layout.html" %}

{% block title %}Batter — Index {% endblock %}
{% block bodyClass %}post{% endblock %}

{% block content %}
  
  <header class="m-header">
    <div class="m-header__background"></div>

    <div class="o-container">
      <div class="grid">
        <div class="col-8">
          <h1 class="m-header__title">Post</h1>
          <h6 class="m-header__subtitle">By <a href="">Dave Willis</a> on September 1, 2015 in <a href="">Category</a></h6> 
        </div>
      </div>
    </div>

    <ul class="m-header__links">
      <div class="o-container">
        <li><a href="" class="o-button">Follow</a></li>
        <li><a href="" class="o-button">Share This</a></li>
      </div>
    </ul>
  </header>
  
  <div class="o-container">
    <div class="m-post">
      <div class="m-post__content">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vitae veritatis tempora consequatur voluptatum ipsum delectus molestias, ex, repellendus earum quos dolores mollitia pariatur in itaque quia. Aut, eius, aliquid.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vitae veritatis tempora consequatur voluptatum ipsum delectus molestias, ex, repellendus earum quos dolores mollitia pariatur in itaque quia. Aut, eius, aliquid.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vitae veritatis tempora consequatur voluptatum ipsum delectus molestias, ex, repellendus earum quos dolores mollitia pariatur in itaque quia. Aut, eius, aliquid.</p>
        <h5>Lorem ipsum.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi, totam quia quas consequuntur doloribus est expedita inventore delectus natus neque, officiis rerum. Aperiam quam aut nemo cumque maxime ipsa in sapiente debitis labore a sunt dicta assumenda veniam ratione distinctio corporis, sed. Corrupti aliquid magnam, ipsam necessitatibus quasi eligendi.</p>
      </div>

      <!-- Sidebar -->
      <div class="m-post__sidebar">
        <a href="" class="o-button o-button--full">Stay up to date with </a>
        <ul class="m-post-list">

          <!-- Basic sidebar post -->
          <li class="m-post-list__basic">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-post-list__author">Lorem ipsum</h6>
            </a>
          </li>
          <li class="m-post-list__basic">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-post-list__author">Lorem ipsum</h6>
            </a>
          </li>
          <li class="m-post-list__basic">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-post-list__author">Lorem ipsum</h6>
            </a>
          </li>

          <!-- Full sidebar post -->
          <li class="m-post-list__full">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-post-list__author">Lorem ipsum</h6>
            </a>
          </li>
          <li class="m-post-list__full">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-post-list__author">Lorem ipsum</h6>
            </a>
          </li>
        </ul>

        <ul class="m-post-list">
          <!-- Third sidebar post -->
          <li class="m-post-list__third">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem</h6>
            </a>
          </li>
          <li class="m-post-list__third">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem</h6>
            </a>
          </li>
          <li class="m-post-list__third">
            <a href="">
              <div class="m-post-list__image" style="background-image:url('http://placehold.it/200x200')"></div>
              <h6 class="m-post-list__title">Lorem</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  
{% endblock %}