{% extends "layouts/layout.html" %}

{% block title %}Batter — Index {% endblock %}
{% block bodyClass %}post{% endblock %}

{% block content %}

<article>
  
  <div class="ad">
    <div class="ad__728x90"></div>  
  </div>

  <header class="m-header">
    <div class="m-header__background"></div>

    <div class="o-container">
      <div class="grid">
        <div class="col-8">
          <h1 class="m-header__title">Post</h1>
          <h6 class="m-header__subtitle">By <a href="">Author</a> on September 1, 2015 in <a href="">Category</a></h6> 
        </div>
      </div>
    </div>

    <ul class="m-header__links">
      <div class="o-container">
        <li><a href="" class="o-button js-open-modal" data-target="tempPostID" data-type="follow">Follow Author</a></li>
        <li><a href="" class="o-button js-open-modal" data-target="tempPostID" data-type="share">Share This</a></li>
      </div>
    </ul>
  </header>
  
  <div class="o-container">

    <div class="ad--fixed ad__160x600 hide--s hide--m hide--l">
    </div>

    <div class="m-page">
      <div class="m-page__content">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vitae veritatis tempora consequatur voluptatum ipsum delectus molestias, ex, repellendus earum quos dolores mollitia pariatur in itaque quia. Aut, eius, aliquid.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vitae veritatis tempora consequatur voluptatum ipsum delectus molestias, ex, repellendus earum quos dolores mollitia pariatur in itaque quia. Aut, eius, aliquid.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vitae veritatis tempora consequatur voluptatum ipsum delectus molestias, ex, repellendus earum quos dolores mollitia pariatur in itaque quia. Aut, eius, aliquid.</p>
        <h5>Lorem ipsum.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi, totam quia quas consequuntur doloribus est expedita inventore delectus natus neque, officiis rerum. Aperiam quam aut nemo cumque maxime ipsa in sapiente debitis labore a sunt dicta assumenda veniam ratione distinctio corporis, sed. Corrupti aliquid magnam, ipsam necessitatibus quasi eligendi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus corporis, nesciunt quasi ut repudiandae dolor. Sapiente voluptate id consequuntur saepe, sequi, aliquam nisi accusamus? Quia, possimus harum laboriosam nam. Tempore!</p>
        <p>Ipsa quidem tenetur accusamus laboriosam sint recusandae atque consectetur autem sequi. Natus veniam accusamus suscipit minima. Necessitatibus excepturi, exercitationem maxime et animi ex iure, modi tempore vitae quam officia perferendis.</p>
        <p>Tenetur illum deserunt enim quo, ipsum a voluptatibus quia nisi. Neque nemo qui, cum, soluta inventore modi unde, consequuntur ipsum illo quibusdam minus consectetur suscipit enim quas dolorem in? Facilis!</p>
        <p>Placeat ipsum tempore, eos, sint aliquid veniam quidem esse, nulla, harum nobis officiis. Eos enim aut quia aspernatur architecto ducimus dolorem perspiciatis dignissimos, natus! Fuga, voluptate quas exercitationem reiciendis at.</p>
        <p><a href="" class="o-button js-open-modal" data-target="tempPostID" data-type="follow">Follow Author</a><a href="" class="o-button js-open-modal" data-target="tempPostID" data-type="follow">Share This</a></p>
        
        <!-- Related Posts -->
        <div class="m-related-posts">
          <h4 class="o-title">Related posts <span class="o-title__alternate">from Author</span></h4>
          <ul class="m-related-posts__list">
            <li>
              <a href="">
                <div class="m-related-posts__image" style="background-image:url('public/images/placeholder.jpg')"></div>
                <h5 class="m-related-posts__title">Lorem ipsum dolor sit amet.</h5></a>
            </li>
            <li>
              <a href="">
                <div class="m-related-posts__image" style="background-image:url('public/images/placeholder2.jpg')"></div>
                <h5 class="m-related-posts__title">Lorem ipsum.</h5></a>
            </li>
            <li>
              <a href="">
                <div class="m-related-posts__image" style="background-image:url('public/images/placeholder.jpg')"></div>
                <h5 class="m-related-posts__title">Lorem ipsum.</h5></a>
            </li>
            <li>
              <a href="">
                <div class="m-related-posts__image" style="background-image:url('public/images/placeholder2.jpg')"></div>
                <h5 class="m-related-posts__title">Lorem ipsum.</h5></a>
            </li>
            <li>
              <a href="">
                <div class="m-related-posts__image" style="background-image:url('public/images/placeholder.jpg')"></div>
                <h5 class="m-related-posts__title">Lorem ipsum.</h5></a>
            </li>
            <li>
              <a href="">
                <div class="m-related-posts__image" style="background-image:url('public/images/placeholder2.jpg')"></div>
                <h5 class="m-related-posts__title">Lorem ipsum.</h5></a>
            </li>
          </ul>
        </div> <!-- End Related Posts -->
      </div> <!-- End Page Content -->

      <!-- Sidebar -->
      <div class="m-page__sidebar hide--s">

        <div class="ad">
          <div class="ad__300x250"></div>  
        </div>

        <a href="" class="o-button o-button--full js-open-modal" data-target="tempPostID" data-type="channel">Stay up to date with SixSeeds</a>
        
        <h5 class="o-title">Popular <span class="o-title__alternate">at SixSeeds</span></h5>

        <ul class="m-list">
          <!-- Basic sidebar post -->
          <li class="m-list__basic">
            <a href="">
              <div class="m-list__image" style="background-image:url('public/images/placeholder.jpg')"></div>
              <h6 class="m-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-list__author">Lorem ipsum</h6>
            </a>
          </li>
          <li class="m-list__basic">
            <a href="">
              <div class="m-list__image" style="background-image:url('public/images/placeholder2.jpg')"></div>
              <h6 class="m-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-list__author">Lorem ipsum</h6>
            </a>
          </li>

          <!-- Full sidebar post -->
          <li class="m-list__full">
            <a href="">
              <div class="m-list__image" style="background-image:url('public/images/placeholder.jpg')"></div>
              <h6 class="m-list__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</h6>
              <h6 class="m-list__author">Lorem ipsum</h6>
            </a>
          </li>
        </ul>
        
        <h5 class="o-title">Explore <span class="o-title__alternate">Patheos</span></h5>

        <ul class="m-list">
          <!-- Third sidebar post -->
          <li class="m-list__third">
            <a href="">
              <div class="m-list__image" style="background-image:url('public/images/placeholder.jpg')"></div>
              <h6 class="m-list__title">Lorem</h6>
            </a>
          </li>
          <li class="m-list__third">
            <a href="">
              <div class="m-list__image" style="background-image:url('public/images/placeholder2.jpg')"></div>
              <h6 class="m-list__title">Lorem</h6>
            </a>
          </li>
          <li class="m-list__third">
            <a href="">
              <div class="m-list__image" style="background-image:url('public/images/placeholder.jpg')"></div>
              <h6 class="m-list__title">Lorem</h6>
            </a>
          </li>
        </ul>

        <div class="ad">
          <div class="ad__300x250"></div>  
        </div>
        <div class="ad">
          <div class="ad__300x250"></div>  
        </div>
      </div>
    </div>
  </div> <!-- End Sidebar -->
  
  <!-- Footer -->
  <footer class="m-footer">
    <div class="o-container">

      <h5 class="o-title "><span class="o-title__alternate">There are </span>12<span class="o-title__alternate"> comments. </span><a href="" class="js-show-comments" data-target="tempPostID">View them.</a><span class="o-title__alternate"></span></h5>

      <div class="m-disqus" id="comments-tempPostID">
        Comments go here.
      </div>

    </div>
  </footer>

  <div class="ad">
    <div class="ad__728x90"></div>  
  </div>

</article>
{% endblock %}