<div class="m-modal" id="modal-share">
	<div class="m-modal__container">
		<a href="" class="m-modal__close js-close-modal">Close</a>
		<h1 class="m-modal__title">Share {Post Title}</h1>
		<ul class="m-modal__list">
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-facebook-white.png" alt=""></span><h6>Facebook</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-twitter-white.png" alt=""></span><h6>Twitter</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-linkedin-white.png" alt=""></span><h6>LinkedIn</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-google-white.png" alt=""></span><h6>Google+</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-email-white.png" alt=""></span><h6>Email</h6>
			</a></li>
		</ul>
		<fieldset class="m-modal__fieldset">
			<input type="text" class="m-modal__input js-page-url" value="page url">
			<a href="" class="m-modal__button js-copy-url">Copy URL<span class="m-modal__copied">Copied!</span></a>
		</fieldset>
	</div>
</div>

<div class="m-modal" id="modal-follow">
	<div class="m-modal__container">
		<a href="" class="m-modal__close js-close-modal">Close</a>
		<h1 class="m-modal__title">Follow {Author}</h1>
		<ul class="m-modal__list">
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-facebook-white.png" alt=""></span><h6>Facebook</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-twitter-white.png" alt=""></span><h6>Twitter</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-instagram-white.png" alt=""></span><h6>Instagram</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-rss-white.png" alt=""></span><h6>RSS</h6>
			</a></li>
		</ul>
		<fieldset class="m-modal__fieldset">
			<input type="text" class="m-modal__input" value="" placeholder="Email Address">
			<a href="" class="m-modal__button">Subscribe</a>
		</fieldset>
	</div>
</div>

<div class="m-modal" id="modal-channel">
	<div class="m-modal__container">
		<a href="" class="m-modal__close js-close-modal">Close</a>
		<h1 class="m-modal__title">Stay up to date with {SixSeeds}</h1>
		<ul class="m-modal__list">
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-facebook-white.png" alt=""></span><h6>Facebook</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-twitter-white.png" alt=""></span><h6>Twitter</h6>
			</a></li>
			<li><a href="">
				<span class="m-modal__icon"><img src="public/images/icon-rss-white.png" alt=""></span><h6>RSS</h6>
			</a></li>
		</ul>
		<fieldset class="m-modal__fieldset">
			<input type="text" class="m-modal__input" value="" placeholder="Email Address">
			<a href="" class="m-modal__button">Subscribe</a>
		</fieldset>
	</div>
</div>