<div class="m-modal" id="modal-share">
	<div class="m-modal__container">
		<a href="" class="m-modal__close js-close-modal">Close</a>
		<h1 class="m-modal__title">Share {Post Title}</h1>
		todo: icons
		<ul class="m-modal__list">
			<li><a href="">Facebook</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">LinkedIn</a></li>
			<li><a href="">Google+</a></li>
			<li><a href="">Email</a></li>
		</ul>
		<fieldset class="m-modal__fieldset">
			<input type="text" class="m-modal__input js-page-url" value="page url">
			<a href="" class="m-modal__button js-copy-url">Copy URL<span class="m-modal__copied">Copied!</span></a>
		</fieldset>
	</div>
</div>

<div class="m-modal" id="modal-follow">
	<div class="m-modal__container">
		<a href="" class="m-modal__close js-close-modal">Close</a>
		<h1 class="m-modal__title">Follow {Author}</h1>
		todo: icons
		<ul class="m-modal__list">
			<li><a href="">Facebook</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">Instagram</a></li>
			<li><a href="">RSS</a></li>
		</ul>
		<fieldset class="m-modal__fieldset">
			<input type="text" class="m-modal__input" value="" placeholder="Email Address">
			<a href="" class="m-modal__button">Subscribe</a>
		</fieldset>
	</div>
</div>

<div class="m-modal" id="modal-channel">
	<div class="m-modal__container">
		<a href="" class="m-modal__close js-close-modal">Close</a>
		<h1 class="m-modal__title">Stay up to date with {SixSeeds}</h1>
		todo: icons
		<ul class="m-modal__list">
			<li><a href="">Facebook</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">RSS</a></li>
		</ul>
		<fieldset class="m-modal__fieldset">
			<input type="text" class="m-modal__input" value="" placeholder="Email Address">
			<a href="" class="m-modal__button">Subscribe</a>
		</fieldset>
	</div>
</div>